<article class="product">
  <header>
    <% if product.quantity <= 0 %>
      <div class="sold-out">
        SOLD OUT!
      </div>
    <% end %>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>

  <% review_avg = 0 %>
  <% product.reviews.each do |review| 
      review_avg += review.rating
     end 
  %>
  <% review_avg /= product.reviews.count if product.reviews.count > 0 %>
  <% review_avg.times do %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
  <% (5 - review_avg).times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
  <% end %>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <% if product.quantity > 0 %>
      <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-success', method: :put do %>
        <%= fa_icon "shopping-cart", text: 'Add' %>
      <% end %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
