<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <footer class="actions">
          <% if @product.quantity > 0 %>
            <%= link_to add_item_cart_path(product_id: @product.id), class: 'btn btn-success', method: :put do %>
              <%= fa_icon "shopping-cart", text: 'Add' %>
            <% end %>
          <% end %>
        </footer>
      </div>
    </div>

        <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>Ratings</h2>

        <% if current_user %>
          <%= form_for [@product, @review] do |f| %>

          <% if f.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% f.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          Rating: 
          
          <% stars_array = [] %>
          <% 5.times do |count| 
              count += 1
              stars_array.push [count.to_s + " star".pluralize(count), count] 
            end %>
          
          <%= f.select(:rating, stars_array ) %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
            <%= f.submit 'Submit Review', class: 'btn btn-primary' %>
          </div>
          <% end %>
        <% end %>
        <% if @product.reviews.count > 0 %>
          <% @product.reviews.reverse.each do |review| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= review.user.first_name %> <%= review.user.last_name %>
                <% review.rating.times do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% (5 - review.rating).times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              </div>
              <div class="panel-body">
                <%= review.description %>
              </div>
            </div>
          <% end %>
        <% else %>
          There are currently no reviews for this product.
        <% end %>

      </div>
    </div>

  </article>

</section>
